<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacText.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TextAnnotator.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TextAnnotator_backend_test.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TextViewTester.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>481463CD296A7C0900713721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4844EB6C2964E0D9002E3D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48B087F9295FB787006A661F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48B0880F295FB78A006A661F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48B08819295FB78A006A661F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48BC4AB9295FB8CE0099CF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48BC4AD82960B9160099CF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48BC4AED2960B9190099CF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48BC4AF72960B9190099CF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
